.secao-carousel{
    padding: 60px 0;
    background-color: #f8f0fa;
}


.secao-cantainer input[ type="radio"]{
    display: none;
}
.carousel{
    overflow: hidden;


}.faixa{
    display: flex;
    transition: transform 0.5s;
}
.slide{
    min-width: 100%;
    display: grid;
    grid-template-columns: 420px 1fr;
    min-height: 360px;
}
.slide-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-imagem img{
    width: 150px;
}
.slide-conteudo{
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-left: 1px solid #e2e0d7;
}
.slide-tag{
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    background-color: #6f1f;
    padding: 4px 10px;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.slide-titulo{
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 1.25;
}
.slide-texto{
    font-size: 0.8rem;
    color: #888780;
    line-height: 1.7;
}